<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCa0OjX-81IapPoo58B7LbpsTH2KvMZdTs</string>
	<key>GCM_SENDER_ID</key>
	<string>654500904802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ieeeFsbHr</string>
	<key>PROJECT_ID</key>
	<string>ieee-fsb-hr-project</string>
	<key>STORAGE_BUCKET</key>
	<string>ieee-fsb-hr-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654500904802:ios:3c4b2c035eaf909d23f63b</string>
</dict>
</plist>